* {
  margin: 0;
  padding: 0;
}

.parent {
  .container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 650px;
    align-items: center;

    h1 {
      color: #ff7f2c;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }
  .input_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .forgotPassword_block {
      display: flex;
      justify-content: end;
      text-align: end;

      a {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #8e949a;
      }
    }

    div {
      margin-top: 5px;
      display: flex;
      justify-content: left;
      width: 80%;
      label {
        color: darkred;
        font-size: 10px;
      }
    }

    input {
      width: 80%;
      margin-bottom: 10px;
      height: 40px;
      padding: 8px;
      gap: 8px;
      border: 0.5px solid #515a61;
      border-radius: 4px;

      &::placeholder {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #8e949a;
      }
    }

    button {
      width: 80%;
      height: 50px;
      padding: 8px;
      background-color: #ff7f2c;
      border-radius: 8px;
      border: none !important;
      color: white;
      margin-top: 20px;
      cursor: pointer;
      transition: 1.5s;
    }
  }
  .block2 {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 14px;
      color: #8e949a;
      margin-bottom: 5px;
    }
    .footer_button {
      width: 80%;
      height: 50px;
      padding: 8px;
      background: transparent;
      border: 0.5px solid #515a61;
      border-radius: 4px;
      color: #1d324e;
      margin-top: 15px;
      cursor: pointer;
      transition: 1.5s;
    }
  }
}
