* {
  margin: 0;
  padding: 0;
} 

.parent {
  .container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    // height: 650px;
    padding-bottom: 100px;
    align-items: center;

    h1 {
      color: #ff7f2c;
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }
  .input_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    div {
      margin-top: 5px;
      display: flex;
      justify-content: left;
      width: 80%;
      label {
        color: darkred;
        font-size: 10px;
      }
    }

    input {
      width: 80%;
      margin-bottom: 10px;
      height: 40px;
      padding: 8px;
      gap: 8px;
      border: 0.5px solid #515a61;
      border-radius: 4px;

      &::placeholder {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #8e949a;
      }
    }

    button {
      width: 80%;
      height: 50px;
      padding: 8px;
      background: #ff7f2c;
      border-radius: 8px;
      border: none !important;
      color: white;
      margin-top: 20px;
      cursor: pointer;
      transition: 1.5s;
    }
  }
  .block2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #8e949a;
    }

    .icons_block {
      display: flex;
      margin-top: 20px;
      justify-content: space-evenly;
      width: 50%;

      button {
        background: transparent;
        border: 0.5px solid #8e949a;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .button2 {
        background: transparent;
        width: 30px;
        height: 30px;
        border: none;
      }
    }
  }
  h5 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8e949a;
    margin-top: 40px;

    a {
      color: #1d324e;
    }
  }
}
